html,
body,
#app,
page {
  width: 100%;
  height: 100%;
}

.m-page {
  width: 100%;
  padding-bottom: var(--safe-area-inset-bottom);
  box-sizing: border-box;
}

.loading-animate {
  background: linear-gradient(90deg, #F1F2F4 25%, #e6e6e6 37%, #F1F2F4 50%);
  background-size: 400% 100%;
  animation: skeleton 1.8s ease infinite;
}

@keyframes skeleton {
  0% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0 50%
  }
}

.fc {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flc {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.frc {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.fsc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dfc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

@mixin flex {
  display: flex;
}

@mixin justify-center {
  justify-content: center;
}

@mixin items-center {
  align-items: center;
}

@mixin justify-start {
  justify-content: flex-start;
}

@mixin justify-end {
  justify-content: flex-end;
}

@mixin justify-space {
  justify-content: space-between;
}

.fcenter {
  @include flex;
  @include justify-center;
  @include items-center;
}

.flcenter {
  @include flex;
  @include justify-start;
  @include items-center;
}

.fecenter {
  @include flex;
  @include justify-end;
  @include items-center;
}

.fscenter {
  @include flex;
  @include justify-space;
  @include items-center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-space {
  justify-content: space-between;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.flex-warp {
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.t1oe {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.f-sm {
  font-size: 12px;
}

.f-base {
  font-size: 15px;
}
.f-lg {
  font-size: 20px;
}
// 文本颜色
.text-primary {
  color: #467BE7;
}
.text-success {
  color: #467BE7;
}
.text-error {
  color: #467BE7;
}
.text-transparent {
  color: transparent;
}
.text-black {
  color: rgba(0, 0, 0, 1);
}
.text-white {
  color: rgba(255, 255, 255, 1);
}
.text-gray-50 {
  color: rgba(249, 250, 251, 1);
}
.text-gray-100 {
  color: rgba(243, 244, 246, 1);
}
.text-gray-200 {
  color: rgba(229, 231, 235, 1);
}
.text-gray-300 {
  color: rgba(209, 213, 219, 1);
}
.text-gray-400 {
  color: rgba(156, 163, 175, 1);
}
.text-gray-500 {
  color: rgba(107, 114, 128, 1);
}
.text-gray-600 {
  color: rgba(75, 85, 99, 1);
}
.text-gray-700 {
  color: rgba(55, 65, 81, 1);
}
.text-gray-800 {
  color: rgba(31, 41, 55, 1);
}
.text-gray-900 {
  color: rgba(17, 24, 39, 1);
}
.text-red-50 {
  color: rgba(254, 242, 242, 1);
}
.text-red-100 {
  color: rgba(254, 226, 226, 1);
}
.text-red-200 {
  color: rgba(254, 202, 202, 1);
}
.text-red-300 {
  color: rgba(252, 165, 165, 1);
}
.text-red-400 {
  color: rgba(248, 113, 113, 1);
}
.text-red-500 {
  color: rgba(239, 68, 68, 1);
}
.text-red-600 {
  color: rgba(220, 38, 38, 1);
}
.text-red-700 {
  color: rgba(185, 28, 28, 1);
}
.text-red-800 {
  color: rgba(153, 27, 27, 1);
}
.text-red-900 {
  color: rgba(127, 29, 29, 1);
}
.text-yellow-50 {
  color: rgba(255, 251, 235, 1);
}
.text-yellow-100 {
  color: rgba(254, 243, 199, 1);
}
.text-yellow-200 {
  color: rgba(253, 230, 138, 1);
}
.text-yellow-300 {
  color: rgba(252, 211, 77, 1);
}
.text-yellow-400 {
  color: rgba(251, 191, 36, 1);
}
.text-yellow-500 {
  color: rgba(245, 158, 11, 1);
}
.text-yellow-600 {
  color: rgba(217, 119, 6, 1);
}
.text-yellow-700 {
  color: rgba(180, 83, 9, 1);
}
.text-yellow-800 {
  color: rgba(146, 64, 14, 1);
}
.text-yellow-900 {
  color: rgba(120, 53, 15, 1);
}
.text-green-50 {
  color: rgba(236, 253, 245, 1);
}
.text-green-100 {
  color: rgba(209, 250, 229, 1);
}
.text-green-200 {
  color: rgba(167, 243, 208, 1);
}
.text-green-300 {
  color: rgba(110, 231, 183, 1);
}
.text-green-400 {
  color: rgba(52, 211, 153, 1);
}
.text-green-500 {
  color: rgba(16, 185, 129, 1);
}
.text-green-600 {
  color: rgba(5, 150, 105, 1);
}
.text-green-700 {
  color: rgba(4, 120, 87, 1);
}
.text-green-800 {
  color: rgba(6, 95, 70, 1);
}
.text-green-900 {
  color: rgba(6, 78, 59, 1);
}
.text-blue-50 {
  color: rgba(239, 246, 255, 1);
}
.text-blue-100 {
  color: rgba(219, 234, 254, 1);
}
.text-blue-200 {
  color: rgba(191, 219, 254, 1);
}
.text-blue-300 {
  color: rgba(147, 197, 253, 1);
}
.text-blue-400 {
  color: rgba(96, 165, 250, 1);
}
.text-blue-500 {
  color: rgba(59, 130, 246, 1);
}
.text-blue-600 {
  color: rgba(37, 99, 235, 1);
}
.text-blue-700 {
  color: rgba(29, 78, 216, 1);
}
.text-blue-800 {
  color: rgba(30, 64, 175, 1);
}
.text-blue-900 {
  color: rgba(30, 58, 138, 1);
}
.text-indigo-50 {
  color: rgba(238, 242, 255, 1);
}
.text-indigo-100 {
  color: rgba(224, 231, 255, 1);
}
.text-indigo-200 {
  color: rgba(199, 210, 254, 1);
}
.text-indigo-300 {
  color: rgba(165, 180, 252, 1);
}
.text-indigo-400 {
  color: rgba(129, 140, 248, 1);
}
.text-indigo-500 {
  color: rgba(99, 102, 241, 1);
}
.text-indigo-600 {
  color: rgba(79, 70, 229, 1);
}
.text-indigo-700 {
  color: rgba(67, 56, 202, 1);
}
.text-indigo-800 {
  color: rgba(55, 48, 163, 1);
}
.text-indigo-900 {
  color: rgba(49, 46, 129, 1);
}
.text-purple-50 {
  color: rgba(245, 243, 255, 1);
}
.text-purple-100 {
  color: rgba(237, 233, 254, 1);
}
.text-purple-200 {
  color: rgba(221, 214, 254, 1);
}
.text-purple-300 {
  color: rgba(196, 181, 253, 1);
}
.text-purple-400 {
  color: rgba(167, 139, 250, 1);
}
.text-purple-500 {
  color: rgba(139, 92, 246, 1);
}
.text-purple-600 {
  color: rgba(124, 58, 237, 1);
}
.text-purple-700 {
  color: rgba(109, 40, 217, 1);
}
.text-purple-800 {
  color: rgba(91, 33, 182, 1);
}
.text-purple-900 {
  color: rgba(76, 29, 149, 1);
}
.text-pink-50 {
  color: rgba(253, 242, 248, 1);
}
.text-pink-100 {
  color: rgba(252, 231, 243, 1);
}
.text-pink-200 {
  color: rgba(251, 207, 232, 1);
}
.text-pink-300 {
  color: rgba(249, 168, 212, 1);
}
.text-pink-400 {
  color: rgba(244, 114, 182, 1);
}
.text-pink-500 {
  color: rgba(236, 72, 153, 1);
}
.text-pink-600 {
  color: rgba(219, 39, 119, 1);
}
.text-pink-700 {
  color: rgba(190, 24, 93, 1);
}
.text-pink-800 {
  color: rgba(157, 23, 77, 1);
}
.text-pink-900 {
  color: rgba(131, 24, 67, 1);
}

// 背景颜色
.bg-primary {
  background-color: #467BE7;
}
.bg-success {
  background-color: #467BE7;
}
.bg-error {
  background-color: #467BE7;
}
.bg-transparent {
  background-color: transparent;
}
.bg-black {
  background-color: rgba(0, 0, 0, 1);
}
.bg-white {
  background-color: rgba(255, 255, 255, 1);
}
.bg-gray-50 {
  background-color: rgba(249, 250, 251, 1);
}
.bg-gray-100 {
  background-color: rgba(243, 244, 246, 1);
}
.bg-gray-200 {
  background-color: rgba(229, 231, 235, 1);
}
.bg-gray-300 {
  background-color: rgba(209, 213, 219, 1);
}
.bg-gray-400 {
  background-color: rgba(156, 163, 175, 1);
}
.bg-gray-500 {
  background-color: rgba(107, 114, 128, 1);
}
.bg-gray-600 {
  background-color: rgba(75, 85, 99, 1);
}
.bg-gray-700 {
  background-color: rgba(55, 65, 81, 1);
}
.bg-gray-800 {
  background-color: rgba(31, 41, 55, 1);
}
.bg-gray-900 {
  background-color: rgba(17, 24, 39, 1);
}
.bg-red-50 {
  background-color: rgba(254, 242, 242, 1);
}
.bg-red-100 {
  background-color: rgba(254, 226, 226, 1);
}
.bg-red-200 {
  background-color: rgba(254, 202, 202, 1);
}
.bg-red-300 {
  background-color: rgba(252, 165, 165, 1);
}
.bg-red-400 {
  background-color: rgba(248, 113, 113, 1);
}
.bg-red-500 {
  background-color: rgba(239, 68, 68, 1);
}
.bg-red-600 {
  background-color: rgba(220, 38, 38, 1);
}
.bg-red-700 {
  background-color: rgba(185, 28, 28, 1);
}
.bg-red-800 {
  background-color: rgba(153, 27, 27, 1);
}
.bg-red-900 {
  background-color: rgba(127, 29, 29, 1);
}
.bg-yellow-50 {
  background-color: rgba(255, 251, 235, 1);
}
.bg-yellow-100 {
  background-color: rgba(254, 243, 199, 1);
}
.bg-yellow-200 {
  background-color: rgba(253, 230, 138, 1);
}
.bg-yellow-300 {
  background-color: rgba(252, 211, 77, 1);
}
.bg-yellow-400 {
  background-color: rgba(251, 191, 36, 1);
}
.bg-yellow-500 {
  background-color: rgba(245, 158, 11, 1);
}
.bg-yellow-600 {
  background-color: rgba(217, 119, 6, 1);
}
.bg-yellow-700 {
  background-color: rgba(180, 83, 9, 1);
}
.bg-yellow-800 {
  background-color: rgba(146, 64, 14, 1);
}
.bg-yellow-900 {
  background-color: rgba(120, 53, 15, 1);
}
.bg-green-50 {
  background-color: rgba(236, 253, 245, 1);
}
.bg-green-100 {
  background-color: rgba(209, 250, 229, 1);
}
.bg-green-200 {
  background-color: rgba(167, 243, 208, 1);
}
.bg-green-300 {
  background-color: rgba(110, 231, 183, 1);
}
.bg-green-400 {
  background-color: rgba(52, 211, 153, 1);
}
.bg-green-500 {
  background-color: rgba(16, 185, 129, 1);
}
.bg-green-600 {
  background-color: rgba(5, 150, 105, 1);
}
.bg-green-700 {
  background-color: rgba(4, 120, 87, 1);
}
.bg-green-800 {
  background-color: rgba(6, 95, 70, 1);
}
.bg-green-900 {
  background-color: rgba(6, 78, 59, 1);
}
.bg-blue-50 {
  background-color: rgba(239, 246, 255, 1);
}
.bg-blue-100 {
  background-color: rgba(219, 234, 254, 1);
}
.bg-blue-200 {
  background-color: rgba(191, 219, 254, 1);
}
.bg-blue-300 {
  background-color: rgba(147, 197, 253, 1);
}
.bg-blue-400 {
  background-color: rgba(96, 165, 250, 1);
}
.bg-blue-500 {
  background-color: rgba(59, 130, 246, 1);
}
.bg-blue-600 {
  background-color: rgba(37, 99, 235, 1);
}
.bg-blue-700 {
  background-color: rgba(29, 78, 216, 1);
}
.bg-blue-800 {
  background-color: rgba(30, 64, 175, 1);
}
.bg-blue-900 {
  background-color: rgba(30, 58, 138, 1);
}
.bg-indigo-50 {
  background-color: rgba(238, 242, 255, 1);
}
.bg-indigo-100 {
  background-color: rgba(224, 231, 255, 1);
}
.bg-indigo-200 {
  background-color: rgba(199, 210, 254, 1);
}
.bg-indigo-300 {
  background-color: rgba(165, 180, 252, 1);
}
.bg-indigo-400 {
  background-color: rgba(129, 140, 248, 1);
}
.bg-indigo-500 {
  background-color: rgba(99, 102, 241, 1);
}
.bg-indigo-600 {
  background-color: rgba(79, 70, 229, 1);
}
.bg-indigo-700 {
  background-color: rgba(67, 56, 202, 1);
}
.bg-indigo-800 {
  background-color: rgba(55, 48, 163, 1);
}
.bg-indigo-900 {
  background-color: rgba(49, 46, 129, 1);
}
.bg-purple-50 {
  background-color: rgba(245, 243, 255, 1);
}
.bg-purple-100 {
  background-color: rgba(237, 233, 254, 1);
}
.bg-purple-200 {
  background-color: rgba(221, 214, 254, 1);
}
.bg-purple-300 {
  background-color: rgba(196, 181, 253, 1);
}
.bg-purple-400 {
  background-color: rgba(167, 139, 250, 1);
}
.bg-purple-500 {
  background-color: rgba(139, 92, 246, 1);
}
.bg-purple-600 {
  background-color: rgba(124, 58, 237, 1);
}
.bg-purple-700 {
  background-color: rgba(109, 40, 217, 1);
}
.bg-purple-800 {
  background-color: rgba(91, 33, 182, 1);
}
.bg-purple-900 {
  background-color: rgba(76, 29, 149, 1);
}
.bg-pink-50 {
  background-color: rgba(253, 242, 248, 1);
}
.bg-pink-100 {
  background-color: rgba(252, 231, 243, 1);
}
.bg-pink-200 {
  background-color: rgba(251, 207, 232, 1);
}
.bg-pink-300 {
  background-color: rgba(249, 168, 212, 1);
}
.bg-pink-400 {
  background-color: rgba(244, 114, 182, 1);
}
.bg-pink-500 {
  background-color: rgba(236, 72, 153, 1);
}
.bg-pink-600 {
  background-color: rgba(219, 39, 119, 1);
}
.bg-pink-700 {
  background-color: rgba(190, 24, 93, 1);
}
.bg-pink-800 {
  background-color: rgba(157, 23, 77, 1);
}
.bg-pink-900 {
  background-color: rgba(131, 24, 67, 1);
}

// 背景位置
.bg-bottom {
  background-position: bottom;
}
.bg-center {
  background-position: center;
}
.bg-left {
  background-position: left;
}
.bg-left-bottom {
  background-position: left bottom;
}
.bg-left-top {
  background-position: left top;
}
.bg-right {
  background-position: right;
}
.bg-right-bottom {
  background-position: right bottom;
}
.bg-right-top {
  background-position: right top;
}
.bg-top {
  background-position: top;
}

// 背景大小
.bg-auto {
  background-size: auto;
}
.bg-cover {
  background-size: cover;
}
.bg-contain {
  background-size: contain;
}

// 圆角
.rounded-sm {
  border-radius: 10px;
}
.rounded-base {
  border-radius: 20px;
}
.rounded-lg {
  border-radius: 30px;
}
.rounded-all {
  border-radius: 100%;
}

// 定位
.static {
  position: static;
}
.fixed {
  position: fixed;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.sticky {
  position: sticky;
}
